.order-page {
  width: 100%;
  height: auto;
  display: flex;
}

.order-page .order-container {
  display: flex;
  gap: 24px;
}

.order-page .order-left {
  width: 860px;
  height: auto;
  flex: 2;
}

.order-page .order-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tab Navigation */

.order-page .order-nav-frame {
  width: 678px;
  padding-left: 100px;
  padding-top: 51px;
}

.order-page .table-list {
  margin-bottom: 28px;
  margin-left: 20px;
}

.order-page .table-list .MuiTab-root {
  height: 49px;
  color: #d2b48c;
  text-transform: none;
  font-family: Commissioner;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.order-page .table-list .Mui-selected {
  color: #191921 !important;
}

.order-page .table-list .MuiTabs-indicator {
  background: #263636;
  height: 2px;
  border-radius: 10px;
}

/* Order Cards - Left Side */
.order-page .order-main-box {
  width: 821px;
  height: 260px;
  margin-top: 25px;
  margin-bottom: 32px;
  border-radius: 16px;
  box-shadow: -12px 12px 4px rgba(186, 186, 191, 1),
              inset 0px 4px 10px 9px rgba(211, 211, 231, 1),
              inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  background: rgba(248, 248, 254, 1);
  padding: 21px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-page .order-box-scroll {
  overflow: visible;
  max-height: none;
  border-bottom: none;
  padding-bottom: 2px;
}

.order-page .order-name-price {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.order-page .order-name-price:last-child {
  border-bottom: none;
}

.order-page .order-dish-img {
  width: 50px;
  height: 47px;
  border-radius: 50%;
}

.order-page .title-dish {
  margin-left: 20px;
  width: 260px;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.order-page .price-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 117px;
  gap: 15px;
  font-weight: 600;
  font-size: 0.95rem;
}

.order-page .price-box p {
  margin: 0;
}

.order-page .price-box img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.order-page .total-price-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-page .box-total {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 17px;
  flex: 1;
  width: 100%;
}

.order-page .box-total p {
  margin: 0;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 1);
  font-family: Commissioner;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
}

.order-page .box-total img {
  width: 17px;
  height: 17px;
}

.order-page .total-price-box-finish {
  display: flex;
  width: 100%;
}

/* Bundan keyin box-total har safar to‘liq kenglikni egallaydi */
.order-page .box-total-finish {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 120px;
  gap: 20px;
  flex: 1;
  width: 100%;
}

/* <p> elementlar uchun */
.order-page .box-total-finish p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: Commissioner;
  white-space: nowrap;
}

/* Rasmlar */
.order-page .box-total-finish img {
  width: 17px;
  height: 17px;
}


.order-page .data-compl {
  margin-right: 60px;
  color: rgba(0, 0, 0, 1);
  font-family: Commissioner;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

/* Buttons */
.order-page .cancel-button {
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;
  min-width: 108px;
  box-shadow: none;
  margin-right: 63px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .pay-button {
  background: #4caf50 !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 10px;
  padding: 5 10px;
  min-width: 108px;
  box-shadow: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .verify-button {
  background: rgba(58, 135, 203, 1);
  color: #fff !important;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;
  left: 15px;
  min-width: 108px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* No Orders Placeholder */
.order-page .no-orders-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.order-page .no-orders-box img {
  width: 300px;
  height: 300px;
}

/* User and Payment Info - Right Side */
.order-page .order-info-box {
  margin-top: 175px;
  border-radius: 16px;
  box-shadow: 14px 14px 5px 0px rgba(187, 187, 191, 1),inset 0px 1px 11px 12px rgba(211, 211, 231, 1),inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04);
  background: rgba(248, 248, 254, 1);
  padding: 21px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-page .member-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.order-page .order-user-img {
  position: relative;
  margin-top: 5px;
  margin-bottom: 7px;
}

.order-page .order-user-avatar {
  width: 117px;
  height: 112px;
  border-radius: 37px;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .order-user-badge {
  position: absolute;
  top: 90px;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 37px;
  background: rgba(0, 0, 0, 0.33);
}

.order-page .order-user-name {
  color: rgba(8, 9, 13, 1);
  font-family: Commissioner;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: -10px;
}

.order-page .order-user-prof {
  color: rgba(161, 161, 161, 1);
  font-family: Commissioner;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 50px;
}

.order-page .member-location {
  margin-bottom: -19px;
  border-top: 3px solid rgba(161, 161, 161, 1);
}

.order-page .member-location-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 15px;
  margin-right: 120px;
  color: rgba(0, 0, 0, 1);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.order-page .member-location-info svg {
  margin-right: 8px;
  color: #757575;
}


.order-page .order-payment-info-box {
  margin-top: 23px;
  background: rgba(248, 248, 254, 1);
  border-radius: 16px;
  padding: 30px 25px;
  box-shadow: 14px 14px 4px 0px rgba(188, 188, 191, 1),inset 0px 0px 9px 14px rgba(211, 211, 231, 1),inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-page .payment-card-number,
.order-page .payment-card-user-name,
.order-page .payment-card-data {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(180, 170, 170, 1);
  border-radius: 5px;
  padding: 0 7px;
  background: rgba(245, 245, 245, 1);
  color: rgba(119, 119, 119, 1);
  font-family: Commissioner, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
  outline: none;
  transition: all 0.2s;
}

.order-page .payment-card-number::placeholder,
.order-page .payment-card-user-name::placeholder,
.order-page .payment-card-data::placeholder {
  color: #718096;
}

.order-page .payment-card-number:focus,
.order-page .payment-card-user-name:focus,
.order-page .payment-card-data:focus {
  border-color: #3B82F6;
}

.order-page .payment-card-datas {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.order-page .payment-card-data {
  flex: 1;
}

.order-page .payment-card-types {
  width: 243px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 58px;
  padding-left: 64px;
  gap: 23px;
}

.order-page .payment-card-types img {
  width: 45px;
  height: auto;
  object-fit: contain;
}